<!DOCTYPE html>
<html>
<head>
<title>Michael Deal's World Wide Website</title>
<link rel="stylesheet" href="stylesheets/style.css">
<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script src="javascripts/isotope.pkgd.js" type="text/javascript"></script> 
<script src="javascripts/underscore.js" type="text/javascript"></script> 
<script src="javascripts/backbone.js" type="text/javascript"></script> 
<script src="javascripts/app.js" type="text/javascript"></script> 
</head>
<body>
  <div id="container">
    <header>
      <a id="mike_title" href="#"><h1>Mike Deal</h1></a>
      <div id="top_navigation">
        <a id="nav_projects" href="#">Projects</a>
        <a id="nav_about" href="#">About</a>
      </div>
    </header>
    <div id="project_container">
    </div>
    <div id="projects_index">
    <!--   <div class="item objects size_half">
        <img src="images/watch.jpg" alt="image">
      </div>   -->
    </div>
  </div>



<!-- **************** TEMPLATES ************************** -->
<script id="teaser_template" type="text/template">
  <img class="teaser_thumb" src="projects/thumbs/thumb_<%= title %>.jpg">
  <h3 class="teaser_title"><%= description %></h3>
</script>
 

<script id="project_title_wrapper" type="text/template">
  <h2><%= description %></h2>
  <div id="project_content"></div>
  <br>
  <br>
  <br>
</script>


<!-- **************** CONTENT: Index ************************** -->

<script id="index_content" type="text/template">
  <p>Expressive information design and other stuff</p>
</script>

<!-- **************** CONTENT: About ************************** -->

<script id="about_content" type="text/template">
  <p>Ahoy, thanks for stopping by. Im from Seattle, work in New York, and like fun design systems. Ive worked at the Google Creative Lab, Local Projects, and Pentagram. </p>
  <br>
  <p>thedeal@gmail.com</p>
  <p>@dealville</p>
</script>

<!-- **************** CONTENT: Projects ************************** -->


<script id="project_content_lorem" type="text/template">
  <p class="project_description">Lorem ipsum dolor sit amet, mel graeco perfecto ex. Ut pro tota oratio facilisis. Sit at consul facete, quo stet facilis id. Affert explicari temporibus est te. Nam tritani mandamus no, euismod civibus pro eu. Has atqui harum tincidunt id, postea laboramus et quo.

  </p>
  <img src="projects/thumbs/lorembig.jpg">
</script>




<script type="text/javascript">

$(window).load(function(){
    var $container = $('#project_index');
    $container.isotope({
        filter: '*',
        animationOptions: {
            duration: 750,
            easing: 'linear',
            queue: false
        }
    });
 
    $('.portfolioFilter a').click(function(){
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');
 
        var selector = $(this).attr('data-filter');
        $container.isotope({
            filter: selector,
            animationOptions: {
                duration: 750,
                easing: 'linear',
                queue: false
            }
         });
         return false;
    }); 
});

</script>
 

 
 <!-- Google Analytics -->
<script type="text/javascript">

	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-21422990-1']);
	_gaq.push(['_setDomainName', 'none']);
	_gaq.push(['_setAllowLinker', true]);
	_gaq.push(['_trackPageview']);
	
	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	
</script>
 
</body>
</html>