body {
    font-family: Arial;
}

.portfolioFilter a { 
    /*margin-right: 10px; MD-CANCEL*/
    margin-right: 0px; 
	color:#666;
	text-decoration:none;
}

.portfolioFilter a.current { 
    font-weight:bold;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
    /*padding: 10px;*/
}

/*
img .size_full {
    margin:10px;
}

img .size_half {
    margin:5px;
}
*/
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

    -webkit-transition-duration: 4.2s;
    -moz-transition-duration: 4.2s;
    transition-duration: 4.2s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}


/*-----------------Mike's styles-----------*/

.portfolioContainer, body {
    margin: 0px;
    padding: 0px;
}

.item {
    line-height: 0px;
}

/*.teaser_container{
    width: 500px;
    background: red;
}
*/


.project_description {
    width: 400px;
}